*{
	text-align: center;
}

.subtitulo{
	margin-bottom:50px; 
}
.box1{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #5A5537;

}
.box2{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #FF2600;

}
.box3{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #11314F;

}
.box4{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #A59A67;

}
.box5{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #B5B5B5;

}
.box6{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #921101;

}
.box7{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #607334;

}
.box8{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #505050;

}
.box9{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #FF7202;

}
.box10{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #5B125A;

}
.box11{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #0D0D0D;

}
.box12{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #FFB5D0;

}
.box13{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #4181FF;

}
.box14{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #C3D7E9;

}
.box15{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #FFFC00;

}
.box16{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #FF497C;

}
.box17{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #6461DD;

}
.box18{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #008D00;
	margin-bottom: 50px;

}
.box19{
	margin: 0 auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: arial;
	font-size: 30px;
	border: white solid 3px;
	background-color: #008D00;
}

h6,p{

	text-align: left;
}